<%- include ('layout/header.ejs'); -%>


  <div class="container">
    <h1>Home</h1>
    <div class="slider">
      <div class="slider-line">
        <img src="https://vchaspik.ua/sites/default/files/styles/600x/public/story/u12449/0_118.jpg?itok=Hq60azmR"
          alt="">

      </div>
    </div>
    <button class="slider-prev">Prev</button>
    <button class="slider-next">Next</button>



    <div class="select-grupe">
      <select name="sortProduct" id="productSelectBy">
        <option value="all">Все товары</option>
        <option value="priceLow">Цена по убыванию</option>
        <option value="priceHigh">Цена по возрастанию</option>
        <option value="newProduct">Новинки</option>
        <option value="promotions">Акционные</option>
      </select>
      <select name="categoriSelect" id="categoriSelect">
        <option value="">Выберите категорию</option>

      </select>
    </div>

    <div id="productList">
      <% products.forEach(function(product){ %>
        <div class="product-card" data-id="card-<%= product.id %>">

          <figure>
            <img class="product-img" src="../images/img/<%= product.url %>">
            <figcaption>
              <a href="/product?id=<%= product.id %>&name=<%= product.name %>">
                <h2>
                  <%= product.name %>
                </h2>
              </a>
              <div class="cost">
                <p class="price"> Цена за 1шт. <%= product.cost %>
                </p>
                <p class="total-price"> Итого: 00.00</p>

              </div>
              <div class="cart">
                <div class="number">

                  <button class="quantity-change number-minus" type="button"
                    onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange;">-</button>

                  <input class="input" placeholder="0" data-id="<%= product.id %>" data-action="Change-quantity"
                    type="number" min="0" value="">

                  <button class="quantity-change number-plus" type="button"
                    onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange;">+</button>

                </div>

                <button class="buyBtn" data-candy_id="<%= product.id %>" data-cost="<%= product.cost %>"
                  data-action="addToCart" type="button">В
                  корзину</button>
              </div>
            </figcaption>

          </figure>

        </div>
        <% }); %>

    </div>




    <%- include ('layout/footer.ejs'); -%>